@font-face {
    font-family: 'Golos UI';
    src: url('fonts/Golos-UI_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Golos UI', Arial, Helvetica, sans-serif;
    margin: 0;
    background: #fafafa;
}

/* Меню */
nav {
    width: 72px;
    height: 1080px;
    left: -1px;
    border-right: 1px solid rgba(34, 34, 34, 0.05)
}

.menu__item {
    display: block;
    margin: 20px;
    width: 20px; 
}

.menu__item img {
    width: 100%;
}

/* Авторизация */
.login-page {
    width: 1000px;
    margin: 0 auto;
}

.header {
    width: 462px;
    margin-bottom: 30px;
}

.header__title {
    width: 385px;
    height: 180px;
    font-size: 140px; 
}

.header__photo {
    width: 462px;
    height: 501px;
}

.form {
    width: 343px;
    height: 251px;
    gap: 32px;
}

.form__title {
    font-size: 16px;
    height: 18px;
    width: 100%;
    margin: 0;
}

.form__input {
    height: 44px;
    width: 100%;
    border-radius: 10px;
    padding: 13px 12px;
    justify-content: space-between;
    background-color: #f2f3f5;
    border: none;
    box-sizing: border-box;
}

.form__input-description {
    font-size: 13px;
    height: 16px;
    width: 100%;
    color: #808080;
    margin: 0 0 5px 0;
}

.form__button {
    height: 48px;
    width: 100%;
    margin-top: 10px;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    padding: 0 16px;
    border: none;
    box-sizing: border-box;
}

/* Лента */

.feed {
    margin: 73px 0 0 0;
}

.post {
    width: 474px;
    height: 700px;
    margin: 20px auto 50px auto;
    background: white;
}

.post__header {
    text-decoration: none;
    color: black;
    width: 474px;
    height: 32px;
    margin-top: 16px;
}

.post__edit {
    width: 24px;
    height: 24px;
}

.post__avatar {
    border-radius: 6px;
    margin-bottom: 5px;
}

.post__author {
    font-size: 14px;
    height: 18px;
    display: block;
    margin-bottom: 5px;
}

.post__image {
    width: 474px;
    height: 474px;
    margin-top: 70px;
}

.post_reactions {
    width: 68px;
    height: 30px;
    margin-top: 554px;
    border-radius: 8px;
    padding: 6px 12px;
    gap: 3px;
}

.post__discription {
    width: 474px;
    height: 37px;
    font-size: 15px;
    margin-top: 600px; 
}

.post__more {
    width: 28px;
    height: 18px;
    font-size: 15px;
    color: rgba(128, 128, 128, 1);
    margin-top: 636px;
}

.post__time {
    color: rgba(34, 34, 34, 0.5);
    font-size: 14px;
    height: 18px;
}

/* Профиль */
.profile {
    margin-left: 0;
}

.profile__photo {
    width: 123px;
    height: 123px;
    border-radius: 16px;
}

.profile__name {
    width: 361px;
    height: 32px;
    font-size: 32px;
    text-align: center;
}

.profile__description {
    width: 361px;
    height: 36px;
    font-size: 15px;
    text-align: center;
}

.profile__post-counter {
    width: 101px;
    height: 30px;
    border-radius: 6px;
    padding: 6px 10px;
    background: rgba(242, 243, 245, 1);
}

.profile_picture-icon {
    width: 16px;
    height: 16px;
}

.profile__gallery {
    width: 976px;
    height: 1621.65px;
    gap: 2.48px;
}

.profile__gallery-item {
    width: 322.35px;
    height: 322.35px;
    border-radius: 2px;
}

